---
layout: page
title: Concept {{C.name}} in package {{C._package.name}}:{{C._model.name}}:{{C._model._ms.name}}
generated: true
nav_exclude: true
---
{% raw %}
<h1>{{page.C.name}} concept</h1>
{% include entity-table.html entity=page.C headers=page.C._model._c_disp_headers %}

<h2>Concept relationships</h2>

<p>The following subheadings show Concept to Concept relationships in the model</p>

<h3>Parents</h3>
<table>
    <tr>
        <th>Concept</th>
        <th>Summary</th>
    </tr>
    {%- for entity in page.C._parents -%}
    {%- include entity-name-summary-tr.html entity=entity -%}
    {%- endfor -%}
</table>

<h3>Children</h3>
{%- assign sorted = page.C._children | sort -%}
{%- for entity_entry in sorted -%}
{%- assign entity = entity_entry[1] -%}
{% include entity-href.html entity=entity %}
{% if forloop.last != true %}, {% endif %}
{% endfor %}

<h3>Ancestors</h3>
{%- assign sorted = page.C._ancestors | sort -%}
{%- for entity_entry in sorted -%}
{%- assign entity = entity_entry[1] -%}
{% include entity-href.html entity=entity %}
{% if forloop.last != true %}, {% endif %}
{% endfor %}

<h3>Descendants</h3>
{%- assign sorted = page.C._descendants | sort -%}
{%- for entity_entry in sorted -%}
{%- assign entity = entity_entry[1] -%}
{% include entity-href.html entity=entity %}
{% if forloop.last != true %}, {% endif %}
{% endfor %}

<h2>Element links</h2>

<p>The following subheadings show Element to Concept relationships in the model</p>


{% include debug.html object=page.C name="concept in MS/M/P/C/concept.html" on="false" hr="true" %}
{% endraw %}