# this file has to remain in the following format:
# 1. Empty lines and space indentations are okay. Otherwise:
# 2. A line can be a comment line, which must start with a "#"
# 3. Or it must be in the NAME=VALUE format. This has to be in a format that parses
#    in BASH but no other BASH features are allowed. This file is also occasionally used in code
#    to read these values in case the code is not launch by the "bin" scripts (i.e. during dev/debug)
#    and the code expects this simple syntax. Otherwise things could break.
# 4. Double quotes are only allowed around the values if quoting becomes necessary. Single quoting is not
#    recognized and will cause problems. All double quotes are stripped from the value
#    when this file is used in code.
# 5. If a var is assigned to empty, the value needs to be two double quotes, ""
#
# This file is sourced in bin/.config and bin/.config uses these values, or sets sane defaults.
#
# Any vars in bin/.config can also be set here but customizing bin/.config is the way to go if
# you want to commit that configuration. Whe you do that, you still need to have matching entries
# in the .evn file if you will be working with the code in a dev/debug environment where the code
# is directly launched by the IDE and the bin/* scripts are skipped.
#
# Sensitive var values should be kept out of the bin/.config file and set here. The .env file is
# git ignored. You should also comment out any "echo" commands from thee bin/.config file that
# shows a value you don't want to show in the terminal.
#

# This is your GH access token
GH_TOKEN=YourTokenHere

# You can also set any of the variables you see in bin/.config if you'd rather have that info here
# instead of it being committed in Git. This will also simply turning various parts on and off
# without having to mess with bin/.config. For example, you probably don't want the GH code active
# when you're developing/testing locally (with is the default in bin/.config) but would like to turn that
# on at some point. In Travis it's overridden with an environment setting from the Travis project to turn
# that on.

# GH_ACTIVE="true"