{%- comment -%}This is how to include this:
{% include debug.html object=someObject name="summary phrase" on="false" hr="false" %}
{%- endcomment -%}
{%- if site._debug == "debug_on" or  site._debug == "debug_on_all"-%}
{%- if site._debug == "debug_on_all" or include.object._debug == "true"  or include.on == "true" -%}
{%- assign sorted = include.object | sort -%}
{%- if include.hr == "true" -%}
<hr>
{%- endif -%}
_<details style="display: inline; vertical-align: top">
    <summary><span style="background-color:#fdd;">DEBUGGING</span> {{include.name}}</summary>
    <table>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        {%- for entry in sorted -%}
        <tr>
            {%- assign type = entry[1] | object_type -%}
            <td>{{ entry[0] }}</td>
            <td>
            {%- assign val = entry[1] -%}
            {%- if type == "nil" -%}
            nil value
            {%- elsif type == "string" -%}
            {{ val }}
            {%- elsif type == "http" -%}
            <a href="{{val}}">{{val}}</a>
            {%- elsif type == "mhash" -%}
            <a href="{{val | entity_home_url | relative_url }}">{{val._entity_name | default: "NONAME1"}}</a>
            {%- elsif type == "hash" -%}
            {%- assign sorted = val | sort -%}
            {%- for hash_entry in sorted -%}
            {%- assign htype = hash_entry[1] | object_type -%}
            {%- if htype == "mhash" -%}
            <a href="{{hash_entry[1] | entity_home_url | relative_url }}">{{hash_entry[1]._entity_name | default: "NONAME2"}}</a>
            {%- else -%}
            {{hash_entry[1]}}
            {%- endif -%}
            {% if forloop.last != true %}, {% endif %}
            {%- endfor -%}
            {%- elsif type == "array" -%}
            {%- assign sorted = val | sort -%}
            {%- for entry in sorted -%}
            {%- assign htype = entry | object_type -%}
            {%- if htype == "mhash" -%}
            <a href="{{entry | entity_home_url | relative_url }}">{{entry._entity_name | default: "NONAME3"}}</a>
            {%- else -%}
            {{entry}}
            {%- endif -%}
            {% if forloop.last != true %}, {% endif %}
            {%- endfor -%}
            {%- elsif type == "numeric" -%}
            {{ val }}
            {%- else -%}
            Unknown value: {{val}}
            {%- endif -%}
            </td>
        </tr>
        {%- endfor -%}
    </table>
</details>_
{%- if include.hr == "true" -%}
<hr>
{%- endif -%}
{%- endif -%}
{%- else -%}
{%- endif -%}

