{%- comment -%}This is how to include this:
{% include debug.html object=someObject name="summary phrase" on="false" hr="false" %}
{%- endcomment -%}
{%- if site._debug == "debug_on" or  site._debug == "debug_on_all" -%}
{%- if site._debug == "debug_on_all" or include.object._debug == "true"  or include.on == "true" -%}
{% assign sorted = include.object | sort %}
{% if include.hr == "true" %}<hr/>{% endif %}
<details style="display: inline; vertical-align: top">
    <summary><span style="background-color:#fdd;">Debugging/All fields</span> {{include.name}}</summary>
    <table>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        {%- for entry in sorted -%}
        <tr>
            {%- assign val = entry[1] -%}
            {%- assign type = val | object_type -%}
            <td>{{ entry[0] }}</td>
            <td>
                {%- if type == "nil" -%}
                    nil value
                {%- elsif type == "string" -%}
                    string: {{ val }}
                {%- elsif type == "http" -%}
                    http: <a href="{{val}}">{{val}}</a>
                {%- elsif type == "mhash" -%}
                  mhash: {% include entity-href.html entity=val %}
                {% elsif type == "hash" %}
                    hash:
                    {%- assign sorted = val | sort -%}
                    {% for hash_entry in sorted %}
                        {% assign entity = hash_entry[1] %}
                        {%- assign htype = entity | object_type -%}
                        {%- if htype == "mhash" -%}
                            {% include entity-href.html entity=entity %}
                         {%- else -%}
                            key:{{hash_entry[0]}} val:{{hash_entry[1]}}
                        {%- endif -%}
                        {% if forloop.last != true %}, {% endif %}
                    {%- endfor -%}
                {%- elsif type == "array" -%}
                    array:
                    {% for entry in val %}
                        {%- assign htype = entry | object_type -%}
                        {%- if htype == "mhash" -%}
                            {% include entity-href.html entity=entry %}
                        {%- else -%}
                            {{entry}}
                        {%- endif -%}
                        {% if forloop.last != true %}, {% endif %}
                    {%- endfor -%}
                {%- elsif type == "numeric" -%}
                    numeric: {{ val }}
                {%- elsif type == "csvtable" -%}
                    "CSV::TABLE"
                {%- else -%}
                    Unknown type: {{val}}
                {%- endif -%}
            </td>
        </tr>
        {%- endfor -%}
    </table>
</details>
{% if include.hr == "true" %}<hr/>{% endif %}
{% endif %}
{% else %}
{% endif %}

